.schedule-grid {
  background: white;
  overflow-x: auto;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Crucial para bordas finas */
  table-layout: fixed; /* Garante que todas as colunas tenham o mesmo tamanho */
}

td {
  font-size: 0.8rem;
  text-align: center;
  height: 50px;
  border: 1px solid;
  transition: background 0.3 ease;
  background-color: rgb(214, 214, 214);
}

td:first-child {
  border: none;
  background-color: rgb(149, 150, 151);
  color: brown;
}

td .ocupada {
  color: white;
  font-weight: 500;
  padding: 4px;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); /* Brilho interno */
}

td .ocupada:hover {
  position: relative;
  z-index: 10px;
  filter: brightness(1.1);
  transform: scale(1.1);
}

/* Muda o estilo dos horarios de 12:00 e 18:00 */
.divisorDeTurno td {
  border-top: 2px dashed;
  border-bottom: 2px dashed;
}

/* "Table Header" ou cabecalho da tabela */
.schedule-grid th {
  height: 50px;
  width: 50px;
}

.conflito-ativo {
  font-size: 0.6rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  text-transform: uppercase;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.conflito-ativo {
  animation: piscar 910ms infinite;
}
